[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.1.6"
openai = "*"
langchain-openai = "*"
neo4j = "*"
langchainhub = "*"
youtube-search = "*"
beautifulsoup4 = "*"
requests = "*"
wikipedia = "*"
langchain-community = "==0.0.19"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
